    :root {
        --color-bufer:rgb(0, 2, 128);
        --color-options:linear-gradient(to bottom, #6784f7, #001dd6);
        --color-boton:rgb(64, 124, 244);
        --color-cardBorder: rgb(255, 255, 255);
        --color-cardshadow: rgb(0, 0, 0);
        --color-CardAvailable: rgb(0, 0, 65);
        --color-card-default: linear-gradient(to bottom, #d6d6d6, #34465c);
        --color-card-2: linear-gradient(to bottom, #d6d6d6, #535353);
        --color-card-4: linear-gradient(to bottom, #f2ff00, #ffbf00);
        --color-card-8: linear-gradient(to bottom, #ff9900, #ff5500);
        --color-card-16: linear-gradient(to bottom, #ff0808, #ff0080);
        --color-card-32: linear-gradient(to bottom, #ff00bf, #a700c4);
        --color-card-64: linear-gradient(to bottom, #6f00ff, #0c0076);
        --color-card-128: linear-gradient(to bottom, #00d9ff, #0091ea);
        --color-card-256: linear-gradient(to bottom, #00ff2f, #00eaa4);
        --color-card-512: linear-gradient(to bottom, #3e8e3e, #033300);
        --color-card-1024: linear-gradient(to bottom, #604e37, #331500);
        --color-card-2048: linear-gradient(to bottom, #f9c1f4, #46c4ff);
    }


body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #c9e7ff, #3ba7ff);
    transition: background-color 0.4s, color 0.4s;
    /* orden interno */
    margin: 0; 
    /* orden de los hijos */
    display: flex;
    flex-direction: column; 
    align-items: center; 

    
}

.dark-mode {
        background: linear-gradient(to bottom, #3f46ac,#00244f);
        color: #ffffff;
        --color-bufer:rgb(0, 2, 62);
        --color-options:linear-gradient(to bottom, #6784f7, #000c5b);
        --color-boton:rgb(0, 0, 0);
        --color-cardBorder: rgb(0, 0, 0);
        /* Este está asi para que las letras no queden raras*/
        --color-cardshadow: ---;
        --color-CardAvailable: rgb(49, 174, 252);
        --color-card-default: linear-gradient(to bottom, #d6d6d6, #34465c);
        --color-card-2: linear-gradient(to bottom, #d6d6d6, #535353);
        --color-card-4: linear-gradient(to bottom, #f2ff00, #ffbf00);
        --color-card-8: linear-gradient(to bottom, #ff9900, #ff5500);
        --color-card-16: linear-gradient(to bottom, #ff0808, #ff0080);
        --color-card-32: linear-gradient(to bottom, #ff00bf, #a700c4);
        --color-card-64: linear-gradient(to bottom, #6f00ff, #0c0076);
        --color-card-128: linear-gradient(to bottom, #00d9ff, #0091ea);
        --color-card-256: linear-gradient(to bottom, #00ff2f, #00eaa4);
        --color-card-512: linear-gradient(to bottom, #3e8e3e, #033300);
        --color-card-1024: linear-gradient(to bottom, #807860, #331500);
        --color-card-2048: linear-gradient(to bottom, #f9c1f4, #46c4ff);
    }

.Pagebuffer{
    width: 100%; /* Tamaño base del padre */
    top:0px;background-color:var(--color-bufer);
    /* letras internas */
    padding: 2em;
    font-family: 'Impact', sans-serif;
    font-size: 1.5em;
    color: #ffffff;
    text-shadow:
        -3px -3px 0 rgb(0, 0, 0),  3px -3px 0 rgb(0, 0, 0), -3px 3px 0 rgb(0, 0, 0), 3px 3px 0 rgb(0, 0, 0),
        -3px  0px 0 rgb(0, 0, 0),  3px  0px 0 rgb(0, 0, 0),  0px 3px 0 rgb(0, 0, 0), 0px -3px 0 rgb(0, 0, 0);
    /* orden de los hijos */
    display: flex;
    flex-direction: row;
    box-sizing: border-box; 
}

.OptionsBar{
    height: 2.5em;
    width: 100%; /* Tamaño base teniendo en cuenta el padding el padre */
    background-color:var(--color-options);
    color: rgb(0, 0, 0);
    /* orden de los hijos */
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
    align-items: flex-start;       
    gap: 10px;                     
    box-sizing: border-box; 
    margin-top:15px;

}

#puntaje{
    /* Forma */
    height: 2em;
    width: 20%;
    font-size: 1em;
    background-color:var(--color-boton);
    border-radius: 1em;
    /* orden */
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; 
    
}

.Button{
    font-family: 'Impact', sans-serif;
    font-size: 2em;
    color: #ffffff;
    text-shadow:
        -3px -3px 0 rgb(0, 0, 0),  3px -3px 0 rgb(0, 0, 0), -3px 3px 0 rgb(0, 0, 0), 3px 3px 0 rgb(0, 0, 0),
        -3px  0px 0 rgb(0, 0, 0),  3px  0px 0 rgb(0, 0, 0),  0px 3px 0 rgb(0, 0, 0), 0px -3px 0 rgb(0, 0, 0);
    /* Forma */
    height: 5em;
    width: 5em;
    background-color:var(--color-boton);
    border-style: double;
    border-width: 0.5em;
    border-color: rgb(0, 36, 79);
    /* orden */
    position: fixed;
    bottom: 3em;
    left:2em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; 
    
}

.Button:hover{
    /* Forma */
    color: rgb(167, 244, 244);
    background-color: rgb(175, 238, 255);
}
.modeButton{
    /* Forma */
    height: 20%;
    width: 20%;
    font-size: 1em;
    background-color:var(--color-boton);
    border: 0.5em double;
    border-radius: 1em;
    border-color: rgb(0, 36, 79);
    /* orden */
    margin-left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; 
    
}

.modeButton:hover{
    /* Forma */
    height: 20%;
    width: 20%;
    font-size: 1em;
    background-color:rgb(0, 0, 0);
    border: 0.5em double;
    border-radius: 1em;
    border-color: rgb(105, 248, 255);
    color: rgb(0, 0, 0);
    text-shadow:
        -3px -3px 0 rgb(105, 248, 255),  3px -3px 0 rgb(105, 248, 255), -3px 3px 0 rgb(105, 248, 255), 3px 3px 0 rgb(105, 248, 255),
        -3px  0px 0 rgb(105, 248, 255),  3px  0px 0 rgb(105, 248, 255),  0px 3px 0 rgb(105, 248, 255), 0px -3px 0 rgb(105, 248, 255);
    /* orden */
    margin-left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; 
    
}
.RowsContainer{
    /* Forma */
    width: 80%;
    height: 890px;
    padding: 20px;
    background:var(--color-options);
    /* orden */
    text-align: center;
    box-sizing: border-box; 
    /* orden de los hijos */
    display: flex;
    flex-direction: row;
    align-items: center; 
    box-sizing: border-box;
}

.cardRows{
    /* Forma */
    width: 20%;
    height: 840px;
    background-image: url('Tennas-Background.gif');
    background-size: cover; /* Ajusta la imagen al tamaño de la pantalla */
    background-size:  10%;
    background-repeat: round;  /*queda tipo mosaico */
    background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
    border-radius: 3em;
    /* orden */
    margin: 20px;
    text-align: center;
    box-sizing: border-box; 
    /* orden de los hijos */
    display: flex;
    flex-direction: column;
    align-items: center; 
    box-sizing: border-box;
}

.CardAvailable{
    /* Forma */
    width: 119px;
    height: 160px;
    padding: 10px;
    border-radius: 1em;
    background-color:var(--color-CardAvailable);
    /* orden */
    box-sizing: border-box; 
    /* orden de los hijos */
    display: flex;
    flex-direction: row-reverse;
    align-items: center; 
    box-sizing: border-box;
}


.MovableCard{
    /* Forma */
    width: 99px;
    height: 140px;
    /* Color */
    background: var(--color-card-default);
    border: 0.15em solid var(--color-cardBorder);
    border-radius: 0.5em;
    /* Letra */
    font-family: 'Impact', sans-serif;
    font-size: 2.5em;
    color: var(--color-cardBorder);
    text-shadow:
        -3px -3px 0 var(--color-cardshadow),  3px -3px 0 var(--color-cardshadow), -3px 3px 0 var(--color-cardshadow), 3px 3px 0 var(--color-cardshadow),
        -3px  0px 0 var(--color-cardshadow),  3px  0px 0 var(--color-cardshadow),  0px 3px 0 var(--color-cardshadow), 0px -3px 0 var(--color-cardshadow);
    /* orden */
    box-sizing: border-box; 
    /* orden de los hijos */
    display: flex;
    align-items: center; 
    justify-content: center;
    box-sizing: border-box;
    /* Propiedades para deslizar */
    cursor: grab;
    
}

#gameover{
    /* letras internas */
    padding: 0em;
    font-family: 'Impact', sans-serif;
    font-size: 5em;
    color: #ffffff;
    text-shadow:
        -3px -3px 0 rgb(0, 0, 0),  3px -3px 0 rgb(0, 0, 0), -3px 3px 0 rgb(0, 0, 0), 3px 3px 0 rgb(0, 0, 0),
        -3px  0px 0 rgb(0, 0, 0),  3px  0px 0 rgb(0, 0, 0),  0px 3px 0 rgb(0, 0, 0), 0px -3px 0 rgb(0, 0, 0);
    /* Forma */
    height: 50%;
    width: 100%;
    background-color:var(--color-boton);
    border: 0.5em double;
    border-radius: 1em;
    border-color: rgb(0, 64, 142);
    /* orden */
    position: fixed;
    top: 3em;
    left:0em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; 
}